<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.member.mapper.MemberMapper">

<select id="memberList" resultType="com.hk.member.vo.MemberVO">
select * from members order by mno asc
</select>

<insert id="memberRegister">
insert into study.members (mno,email,pwd,mname,cre_date,mod_date)
	values (member_seq.nextval, #{email},#{pwd},#{mname}, sysdate,sysdate)
</insert>

<select id="memberGetOne" resultType="com.hk.member.vo.MemberVO">

select * from members where mno = #{mno}
</select>

<update id="memberUpdate">

UPDATE members SET email=#{email}, MNAME=#{mname},PWD=#{pwd} ,MOD_DATE =SYSDATE  WHERE  mno=#{mno}

</update>

<delete id="memberDelete">
	delete members where mno=#{mno}
</delete>

<select id="memberLogin" resultType="com.hk.member.vo.MemberVO">
	select*from members where email=#{email} and pwd=#{pwd}
</select>



</mapper>